
{% set tooltip_bottom = " data-toggle=popover data-trigger=hover " %}
<p class="lead">Just type below:</p>
<form class="navbar-form navbar-center" action="" method="post" id="geodist-form" name="geodist-form">
    
    <h3>First point</h3>
    <p> for example: N 52, 22, 98.549   and    E 23, 12, 17.444</p>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-btn" role="group" aria-label="...">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">N <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">N</a></li>
                    <li><a href="#">S</a></li>
                  </ul>
            </div>
            <input type="text" class="form-control" id="NSfirstquery" placeholder="{N|S}XX,XX,XX.XXX" {{ tooltip_bottom }} data-placement=top title='Latitude' data-content='{N|S}XX degrees, XX minutes, XX.XXX seconds' />
        </div>

        <div class="input-group">
            <div class="input-group-btn" role="group" aria-label="...">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">W <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">W</a></li>
                    <li><a href="#">E</a></li>
                  </ul>
            </div>
            <input type="text" class="form-control" id="WEfirstquery" placeholder="{E|W}XXX,XX,XX.XXX" {{ tooltip_bottom }} data-placement=top title='Longitude' data-content='{E|W}XXX degrees, XX minutes, XX.XXX seconds' />
        </div>  
    </div>
    
    <h3>Second point</h3>
    <p> for example: N 52, 22, 13.902   and    E 21, 01, 69.801</p>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-btn" role="group" aria-label="...">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">N <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">N</a></li>
                    <li><a href="#">S</a></li>
                  </ul>
            </div>
            <input type="text" class="form-control" id="NSsecondquery" placeholder="{N|S}XX,XX,XX.XXX"  {{ tooltip_bottom }} data-placement=bottom title='Latitude' data-content='{N|S}XX degrees, XX minutes, XX.XXX seconds' />
        </div>

        <div class="input-group">
            <div class="input-group-btn" role="group" aria-label="...">

                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">W <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">W</a></li>
                    <li><a href="#">E</a></li>
                  </ul>
            </div>
            <input type="text" class="form-control" id="WEsecondquery" placeholder="{E|W}XXX,XX,XX.XXX"  {{ tooltip_bottom }} data-placement=bottom title='Longitude' data-content='{E|W}XXX degrees, XX minutes, XX.XXX seconds' />
        </div>  
    </div>
    
    <h3>then hit the button below</h3>
    
    <div class="form-group">
        <div class="input-group">
            <div class="input-group">
                <p class="lead">
                  <a href="#" class="btn btn-lg btn-default" id="mySubmitButton" data-loading-text="Loading..." autocomplete="off">GetDistance!</a>
                </p>
            </div>
        </div>
    </div>
    

    <h3>and see the result</h3>
    
        <div class="form-group">
            <div class="input-group-btn">
                <input type="text" class="form-control" name="output" id="output" placeholder="output...">
                <button type="btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kilometers <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li><a href="#"></a>Kilometers</li>
                  <li><a href="#"></a>Meters</li>
                </ul>
            </div><!-- /btn-group -->
        </div>

         
    
</form>