{% extends "base.html.twig" %}

{% block body %}
    <div class="inner cover">
        <h1 class="cover-heading">Check the distance.</h1>
        
        <p class="lead">
            {% include 'geoform.html.twig' %}
        </p>
      </div>

{% endblock %}


